boundary_box:
  BOX_LENGHT: 30.0
  BOX_WIDTH: 30.0
  SQUARE_AROUND_UAV: 1.0
  USE_BOUNDARY_BOX: true
clock_rate: 100.0
collisions:
  crash: false
  enabled: false
  rebounce: 100.0
fish_model_params:
  ALP0: 1
  ALP1: 0.08
  ALP2: 0
  BET0: 0.5
  BET1: 0.08
  BET2: 0
  LAM0: 1
  LAM1: 1
  LAM2: 0
  GAM: 0.1
  R: 1
  V0: 1
  VIS_FIELD_SIZE: 4096
  PHI_SIZE: 1024 #4096
  THETA_SIZE: 512 #1024
  USE_3D: true  
frames:
  fcu:
    name: fcu
    publish_tf: false
  rangefinder:
    name: garmin
    publish_tf: true
  world:
    name: simulator_origin
    prefix_with_uav_name: false
g: 9.81
ground:
  enabled: true
  z: 0.0
individual_takeoff_platform:
  enabled: false
input_timeout: 1.0
iterate_without_input: true
randomization:
  bounds:
    x: 15.0
    y: 15.0
    z: 15.0
  enabled: false
realtime_factor: 1.0
sim_time_from_wall_time: true
simulation_rate: 100.0
